<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<style type="text/css">
table, th, td {
	border: 1px solid black;
}
</style>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Product Id</th>
				<th>Product Name</th>
				<th>Product Quantity</th>
				<th>Product Unit Price</th>
			</tr>
		</thead>
		<tr th:each="prod : ${prodList}">
			<td><p th:text="${prod.id}"></p></td>
			<td><p th:text="${prod.name}"></p></td>
			<td><p th:text="${prod.qty}"></p></td>
			<td><p th:text="${prod.unitPrice}"></p></td>
		</tr>
	</table>



</body>
</html>